/* Here is our css file */

#resultsDiv {
    box-sizing: border-box;
    border: solid 2px;
    
    background-color: #5d5c61;
    

}




#button1 {
    background-color:#557A95;


}
.nav-wrapper{
    background-color: #5d5c61;


}